.categoria__icon {
    color: #FDFDFD;
    font-size: 2rem;
    margin-left: -2.5rem;
    margin-top: -1rem;
    position: absolute;
    transition: .3s;
}

.categoria__icon:hover {
    transition: .3s;
    transform: scale(1.5);
}